<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ek.easytoapps.bitdurg"
    android:versionCode="2"
    android:versionName="2.0" >


	<uses-permission android:name="android.permission.INTERNET" />

	<!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
	<!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
	<!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />-->
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/autohome"
        android:label="AUTOHOME"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name="ek.easytoapps.bitdurg.EkMain"
            android:label= "AUTOHOME" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
